<% include common/_head_start.ejs %>

<script type="text/javascript" src="<%= asset_path %>/javascripts/main.js"></script>

<% include common/_head_end.ejs %>
<% include common/_header.ejs %>
    <div id="container">
        <div id="viewer"></div>
    </div>
<% include common/_footer.ejs %>
